#!/bin/sh

SUPER="doas"
PACKAGE_MANAGER="apt"

# cd
alias ..="cd .."
alias ...="../.."
alias ....="../../.."

# general
alias l="clear -x"
alias x="exit"
alias q="exit"
alias bat="bat --no-pager --style plain"
alias src="source"
alias mkdir="mkdir -p -v"
alias cp="cp -v"
alias mv="mv -v"
alias duh="du -h -x -s -- * | sort -r -h"

# exa
alias ls="exa --icons --sort type"
alias la="exa --icons --sort type --all"
alias lc="echo Total: $(exa | wc -l)"
alias ll="exa --icons --sort type --long"
alias lt="exa --icons --tree --sort type"

# trash-cli
alias rm="trash-put"

# code stuff
alias code="code --new-window"
alias chrome="google-chrome-stable"

# apt
alias install="$SUPER $PACKAGE_MANAGER install"
alias remove="$SUPER $PACKAGE_MANAGER remove"
alias autoremove="sudo apt autoremove"
alias search="$SUPER $PACKAGE_MANAGER search"
alias update="$SUPER $PACKAGE_MANAGER update"
alias upgrade="$SUPER $PACKAGE_MANAGER upgrade"
alias query="$SUPER $PACKAGE_MANAGER list --installed"
alias purge="$SUPER $PACKAGE_MANAGER remove --purge"
alias only-upgrade="$SUPER $PACKAGE_MANAGER install --only-upgrade"
alias info="sudo apt info"

# git
alias gc="git clone"
alias ga="git add"
alias gt="git status"
alias gm="git commit -m"
alias gp="git push"
alias gu="git pull"
alias gd="git diff"
alias gk="git checkout"
alias gl="git log --graph --decorate --oneline"

# translate
alias tl="trans -brief -target"
